
	<div class="logo">
  <%= image_tag 'logo_footer.png', class: "qwerty" %>

	<div class="footer-bis">
	
	
	
		<div class="footer-link">
				<li>
					<a href="https://www.intuit.com/legal/" class= "footer-legal">Legal</a>
				</li>
				<li>
					<a href="https://security.intuit.com/index.php/privacy" class= "footer-privacy">Privacy</a>
				</li>
				<li>
					<a href="https://security.intuit.com/" class= "footer-security">Security</a>
				</li>
		</div>
		<div class="footer-text">
			<p>© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.
			   Terms and conditions, features, support, pricing, and service options subject to change without notice.</p>
		</div>
	</div>