<header>
	<div class="navbar">
		<div class="navbar-text">
			<p class="text-sign-in">Already have an Intuit account?<br><a href="https://accounts.intuit.com/index.html"><span class="under">I forgot my User ID or Password</span></a></p>

			<button class="button"><span class="button-text">Sign In</span></button>
			
		</div>
	</div>
</header>